---
- hosts: lab
  gather_facts: true
  tasks:    

    - name: Copy host file to etc host
      copy:
        src: "config/cluster/{{ lab_name }}/hosts"
        dest: /etc/hosts
        
    - name: Set system hostname
      shell: |
        hostnamectl set-hostname `grep {{ inventory_hostname }} /etc/hosts | cut -d ' ' -f 3`
  
    - name: Create a backup directory if it does not exist
      file:
        path: /etc/yum.repos.d/old
        state: directory
        mode: '0755'
  
    - name: Move all repo files to backup directory
      shell: mv /etc/yum.repos.d/*.repo /etc/yum.repos.d/old
      ignore_errors: yes
  
    - name: Copy repo file to etc host
      copy:
        src: config/repos/stream8_2022_03.repo
        dest: /etc/yum.repos.d/

    - name: Create a CA directory for podman if it does not exist
      file:
        path: /etc/containers/certs.d/repo-2.lab.example.com/
        state: directory
        mode: '0755'

    - name: Copy CA file into 
      get_url:
        url: http://repo-2/config/ca.crt
        dest: /etc/containers/certs.d/repo-2.lab.example.com/ca.crt
        mode: '0755'
  
    - name: add ssl config to /etc/containers/registries.conf 
      blockinfile:
        path: /etc/containers/registries.conf
        block: |
          [[registry]]
          location = "repo-2.lab.example.com/quayadmin/lab"
          prefix = "registry.redhat.io"


          